
<mercer-stepper  *ngIf="steps" #stepper (click)="onClick(stepper)"
  [isVertical]="true"
  completeTitleText=""
  [toggleActive]="true"
  [collapsedVerticalStepper]="true"
  [allowNavigation]="true">
  <mercer-step *ngFor="let step of steps ; let i = index" title={{step.title}} ></mercer-step>
</mercer-stepper>
