<!--<hr *ngIf="currentStep=='Draft'" class='draft-line'>
<hr *ngIf="currentStep=='Add Role'" class='add-role-line'>
<hr *ngIf="currentStep=='Add Evaluation'" class='add-evaluation-line'>
<hr *ngIf="currentStep=='Select Reviewer'" class='select-reviewer-line'>
<hr *ngIf="currentStep=='Peer Review'" class='peer-review-line complete'>
<hr *ngIf="currentStep=='Add Review'" class='add-review-line'>
<hr *ngIf="currentStep=='Select Reviewer or Return to Evaluator'" class='select-reviewer-or-return-line'>
<hr *ngIf="currentStep=='Add Final Evaluation'" class='add-final-evaluation-line'>
-->
<hr [style.width.%]="numOfProgress">
<hr [style.width.%]="completedProgress" class="complete">

<step-component [isMercerReview]="isMercerReview" [steps]="steps" [currentIndex]="currentIndex" [hasStaticTooltip]="hasStaticTooltip">
</step-component>





