hr {
  position: absolute;
  top: 15px;
  margin: 14px;
  padding-left: 5px;
  border-right: 0;
  border-top: 2px solid #005c96;
  border-left: 0;
  clear: both;
  z-index: 0;
}

.complete {
  border-top: 2px solid #9fdd79;
}

.draft-line {
  width: 0% !important;
}

.add-role-line {
  width: 10% !important;
}

.add-evaluation-line {
  width: 20% !important;
}

.select-reviewer-line {
  width: 28% !important;
}

.peer-review-line {
  width: 40% !important;
}

.add-review-line {
  width: 50% !important;
}

.select-reviewer-or-return-line {
  width: 58% !important;
}


.add-final-evaluation-line {
  width: 80% !important;
}

