<div class="mos-c-stepper">
  <div class="mos-c-stepper__header">
    <div class="mos-c-stepper__bar" style="left: 32.5px; width: 93%; z-index: -1"></div>

   <!-- <div *ngFor="let step of steps"  [ngClass]="(step.status=='Active')?'mos-c-stepper--active':''" class="mos-c-stepper__step " style="top: 0px;">-->
    <div *ngFor="let step of steps; let i = index"  [ngClass]="[(i== steps.length-1) ? 'mos-c-stepper__step--last' : '',(step.status=='A') ? 'mos-c-stepper--active' : '',  (step.status=='C') ? 'mos-c-stepper--complete' : '']" class="mos-c-stepper__step " style="top: 0px;">
      <div  *ngIf="step.type=='M'">
        <div *ngIf="isMercerReview">
          <div *ngIf="currentIndex == i">
            <div class="tooltip tooltip__top mercer-review" style="text-align: center; top:-70px">
              <div class="tooltip__arrow mercer-review-arrow"></div>
              <div class="tooltip-text ">Mercer Review</div>
            </div>
          </div>
        </div>

        <div class="mos-c-circle--md mos-c-stepper--circle">
          <span class="mos-c-stepper--num" style="vertical-align: sub;">{{step.index}}</span>
          <mercer-icon icon="check" size="md" ng-reflect-icon="check" ng-reflect-size="md">
            <svg class="mos-c-icon mos-c-icon--md mos-t-icon--default" ng-reflect-ng-class="mos-c-icon,mos-c-icon--md,mos-" role="img">
              <title>check</title>
              <use xlink:href="/mercer-assets/icons/symbol-defs.svg#check" href="/mercer-assets/icons/symbol-defs.svg#check"></use>
            </svg>
          </mercer-icon>
        </div>
        <div class="mos-c-stepper__label">
          <div class="mos-c-stepper--title">
            {{step.title}}
          </div>
          <p class="mos-c-stepper--description"></p>
        </div>
      </div>
      <div *ngIf="step.type=='S'">
        <div *ngIf="hasStaticTooltip">
          <div *ngIf="currentIndex == i">
            <div [ngClass]="[(step.title.length < 11) ? 'add-role': '', (step.title.length <16) ? 'add-evaluation': '',
                             (step.title.length > 15 )? 'long-tooltip':'']"
                 class="tooltip tooltip__top" style="text-align: center; top:-70px">
              <div [ngClass]="[(step.title.length < 11) ? 'add-role-arrow': '',
                                (step.title.length <16) ? 'add-evaluation-arrow': '',
                                (step.title.length > 15 )? 'long-tooltip-arrow':'']" class="tooltip__arrow"></div>
              <div class="tooltip-text ">{{step.title}}</div>
            </div>
            <div  *ngIf="step.display" class="sub-step mos-c-circle--md mos-c-stepper--circle"></div>
            <hr *ngIf="!step.display" >
          </div>
          <div *ngIf="currentIndex != i">
            <div *ngIf="step.display" mercer-tooltip [mercer-tooltip-text]="step.title" mercer-tooltip-position="top" class="sub-step mos-c-circle--md mos-c-stepper--circle"></div>
            <hr *ngIf="!step.display" >
          </div>
        </div>
        <div *ngIf="!hasStaticTooltip">
          <div *ngIf="step.display" mercer-tooltip [mercer-tooltip-text]="step.title" mercer-tooltip-position="top" class="sub-step mos-c-circle--md mos-c-stepper--circle " ></div>
          <hr *ngIf="!step.display" >
        </div>
    </div>
  </div>
  <div class="mos-c-stepper__content">

  </div>
</div>





