.sub-step {
  top: 5px;
  width: 1rem;
  height:1rem;
}

.mos-c-stepper__bar {
  height: 2px !important;
}

.hide-node {
  background: transparent !important;
}

.tooltip { max-width: 20rem;
  padding: 1rem;
  background: rgba(64, 64, 64, 0.9);
  color: #ffffff;
  font-family: \"proxima_nova_rgregular\", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.1875rem;
  z-index: 2000;
  position: absolute;
  display: block !important;
  text-align: left;
  pointer-events: none;
  word-wrap: break-word; }

.tooltip-text {   word-wrap: break-word; }

.tooltip .tooltip__arrow {    width: 0;
  height: 0;
  border: solid 0.5rem;
  pointer-events: none;
  content: '';
  display: block;
  position: absolute; }

.tooltip__top .tooltip__arrow {
  margin-left: -6px;
  border-color: rgba(64, 64, 64, 0.9) transparent transparent transparent;
  bottom: -1rem; }

.add-role {
  left: -45px;
  width: 120px;
}

.add-evaluation {
  left: -60px;
  width: 150px;
}

.mercer-review {
  left: -30px;
  width: 150px;
}

.select-reviewer {
  left: -60px;
  width: 150px;
}

.add-review {
  left: -20px;
  width: 100px;
}

.long-tooltip {
  top: -100px !important;
  left: -80px;
  width: 200px;
}

.add-role-arrow {
  left: 53px;
}

.add-evaluation-arrow {
  left: 70px;
}

.mercer-review-arrow {
  left: 70px;
}

.select-reviewer-arrow {
  left: 70px;
}

.long-tooltip-arrow {
  left: 85px;
}


