<h1>Stepper</h1>
<div class="small-2 columns mos-o-form-input-field">
  <comboBox-component [label]="label" [items]="scenarios" (selectedOption)="onSelected($event)"></comboBox-component>
</div>

<div class="row align-center" style="max-width: 3000px">
  <div class="small-2 columns">
    <process-component *ngIf="selectedScenarioIndex === 0" [steps]="mercerPeerReviewSteps" (activeStepIndex)="onClick($event)"></process-component>
    <process-component *ngIf="selectedScenarioIndex === 1" [steps]="peerReviewSteps" (activeStepIndex)="onClick($event)"></process-component>
    <process-component *ngIf="selectedScenarioIndex === 2" [steps]="panelReviewSteps" (activeStepIndex)="onClick($event)"></process-component>
  </div>
  <div class="small-10 columns">
    <div class="row align-center">
      <div class="small-1 columns mos-o-form-input-field" style="text-align:center">Evaluator<br><img *ngIf="hasStaticTooltip"src="/assets/img/activeUser.png"/></div>
      <div class="small-11 columns mos-o-form-input-field">
        <stepper-component *ngIf="selectedScenarioIndex === 0 && evaluatorSteps[evaluatorCurrentIndex].title === 'Peer Review'" [isActiveUser]="hasStaticTooltip" [isMercerReview]="isMercerReview" [steps]="evaluatorSteps" [currentIndex]="evaluatorCurrentIndex" [hasStaticTooltip]="true" [hideProcess]="hideProcess">
        </stepper-component>
        <stepper-component *ngIf="selectedScenarioIndex !==0 || (selectedScenarioIndex === 0 && evaluatorSteps[evaluatorCurrentIndex].title !== 'Peer Review')" [isActiveUser]="hasStaticTooltip"  [steps]="evaluatorSteps" [currentIndex]="evaluatorCurrentIndex" [hasStaticTooltip]="hasStaticTooltip" [hideProcess]="hideProcess">
        </stepper-component>
      </div>
    </div>
    <div *ngIf="showReviewer" class="row align-center">
      <div class="small-1 columns mos-o-form-input-field" style="text-align:center">{{reviewer}}<br><img *ngIf="!hasStaticTooltip" src="/assets/img/activeUser.png"/></div>
      <div class="small-11 columns mos-o-form-input-field">
        <stepper-component *ngIf="selectedScenarioIndex === 0" [steps]="reviewerSteps" [currentIndex]="reviewerCurrentIndex" [isActiveUser]="!hasStaticTooltip" [hasStaticTooltip]="!hasStaticTooltip" [hideProcess]="!hideProcess"></stepper-component>
        <stepper-component *ngIf="selectedScenarioIndex !== 0" [steps]="reviewerSteps" [currentIndex]="reviewerCurrentIndex" [isActiveUser]="!hasStaticTooltip" [hasStaticTooltip]="!hasStaticTooltip" [hideProcess]="hideProcess"></stepper-component>
      </div>
    </div>
    <div class="row align-center">
      <div class="small-1 columns mos-o-form-input-field" style="text-align:center">{{others1}}</div>
      <div class="small-11 columns mos-o-form-input-field">
        <stepper-component *ngIf="selectedScenarioIndex === 0 && othersSteps[othersCurrentIndex].title === 'Peer Review'" [isActiveUser]=false [isMercerReview]="isMercerReview" [steps]="othersSteps" [currentIndex]="othersCurrentIndex" [hasStaticTooltip]="false" [hideProcess]="hideProcess">
        </stepper-component>
        <stepper-component *ngIf="selectedScenarioIndex !==0 || (selectedScenarioIndex === 0 && othersSteps[othersCurrentIndex].title !== 'Peer Review')" [isActiveUser]=false [steps]="othersSteps" [currentIndex]="othersCurrentIndex" [hasStaticTooltip]="false" [hideProcess]="hideProcess">
        </stepper-component>
      </div>
    </div>
    <div *ngIf="showReviewer" class="row align-center">
      <div class="small-1 columns mos-o-form-input-field" style="text-align:center">{{others2}}</div>
      <div class="small-11 columns mos-o-form-input-field">
        <stepper-component *ngIf="selectedScenarioIndex === 0" [isActiveUser]=false [isMercerReview]=false [steps]="reviewerSteps" [currentIndex]="reviewerCurrentIndex" [isActiveUser]="!hasStaticTooltip" [hasStaticTooltip]="hasStaticTooltip" [hideProcess]="!hideProcess"></stepper-component>
        <stepper-component *ngIf="selectedScenarioIndex !== 0" [isActiveUser]=false [isMercerReview]=false [steps]="reviewerSteps" [currentIndex]="reviewerCurrentIndex" [isActiveUser]="!hasStaticTooltip" [hasStaticTooltip]="!hasStaticTooltip" [hideProcess]="hideProcess"></stepper-component>
      </div>
    </div>
  </div>
</div>

