mos-c-tooltip { max-width: 20rem;
  padding: 1rem;
  background: rgba(64, 64, 64, 0.9);
  color: #ffffff;
  font-family: \"proxima_nova_rgregular\", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.1875rem;
  z-index: 2000;
  position: absolute;
  display: block !important;
  text-align: left;
  pointer-events: none;
  word-wrap: break-word; }

.row {
  max-width: 200rem;
}
